.card-img-top{
    width: 50%;
    height: 500px;
    align-self: center;
    border-radius: 20px;
}

.card {
    margin-top: 20px;
}

.card h2{
    margin-top: 20px;
}
.list-group{
    margin: 0 100px;
}