<section id="o-nama" class="py-5">
    <div class="container">
        <h2 class="text-center">O nama</h2>
        <h5 class="text-center py-3">MetHotel je projekat radjen za domace zadatke iz predmeta IT255</h5>
        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis officia mollitia sit. Aliquam, incidunt ut corporis quos, tempora tenetur rerum soluta exercitationem ducimus itaque laborum earum aut provident minus aliquid. <br><br>Assumenda adipisci, consequuntur odio totam porro sit obcaecati optio neque tempore sapiente excepturi! Iure eaque rem exercitationem enim esse iste voluptate, consequuntur doloribus, hic alias a qui porro, impedit eos aut minus quod velit veniam? Quia illum voluptatibus iusto perspiciatis?
        <br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti tempore culpa maxime nisi.
        Praesentium ut consequuntur cupiditate, maxime delectus quas tempore, suscipit debitis evenie pariatur,magnam laborum nemo expedita.Facere in amet, doloremque voluptatibus praesentium corporis delectus sit laudantium oditnoneaque alias veniam totam ex impedit ipsa dicta numquam debitis sequi consequuntur ea. Inventore architecto tempora
        laboriosam sequi!
        </p>
    </div>
</section>    

